<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @short_url.original %>
  <strong>Primary Key:</strong>
  <%= @short_url.id %>
</p>

<%= link_to 'Edit', edit_short_url_path(@short_url) %> |
<%= link_to 'Back', short_urls_path %>
